.wrapper{
  position: relative;
}
.blog{
  background-color: #cbc5c524;
  margin :0;
  padding:0;
}

.heading2 h1{
  padding-top: 3%;
  margin: 0;
  text-align: center !important;
  color:rgb(25, 27, 158);
}

.heading2 p{
  text-align: center !important;
  font-size: 18px;
  width: auto;
  color:rgb(25, 27, 158);
}

.articles{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2%;
}

.column {
  padding: 1%;
}

.card{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-body{
  padding:1.3rem 1rem;
}

.card-title a{
  font-weight: 700;
  color: #222;
  text-decoration: none;
  font-size: 25px;
  line-height: 1.1;
}

.card-title a:hover{
  color: #0966c5;
}

.card img{
  width: 100%;
}

.category{
  margin-top: 66%;
}

.card-text{
  color: #6c757d;
  font-size: 1.2rem;
  width: auto;
}

.card:hover{
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

  .video {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    background: url(https://cdn.shopify.com/s/files/1/2161/7289/articles/sustainablity-at-work_5132f899-0903-4256-a764-9c4c092902ee_2048x.png?v=1581386592) no-repeat;
    background-size: 100%;
  }
  .video a {
    display: table-cell;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  .video a .circle {
    margin: 25% 0;
    display: inline-block;
    border: 5px solid white;
    border-radius: 25px;
    padding: 20px;
    height: 15px;
    width: 15px;
  }
  .video a .circle .triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    transform: translate(-25%, -50%);
  }

/*Slideshow*/
  .slider{
    position: relative;
    left: 10px;
  }

  .slider img{
    position: absolute;
    top:0;
    left:0;
  }

  .image1{
      animation-name: image1;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      width:620px;
      height:370px;
  }

  .image2{
      animation-name: image2;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      width:620px;
      height:370px;
  }

  .image3{
      animation-name: image3;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      width:620px;
      height:370px;
    }

  .image4{
      animation-name: image4;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      width:620px;
      height:370px;
  }

  .image5{
      animation-name: image5;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      width:620px;
      height:370px;
  }

  @keyframes image1{
      0%{
      opacity: 1;
    }
    14%{
      opacity: 0;
    }
    20%{
        opacity: 0;
    }
    94%{
        opacity: 0;
    }
  }

  @keyframes image2{
      14%{
      opacity: 1;
    }
    34%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }

    99%{
        opacity: 0;
    }
  }

  @keyframes image3 {
      34%{
      opacity: 0;
    }
    54%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }

    99%{
        opacity: 0;
    }
  }

  @keyframes image4 {
      54%{
      opacity: 0;
    }
    74%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }

    99%{
        opacity: 0;
    }
  }

  @keyframes image5 {

      74%{
      opacity: 0;
    }
    94%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }

/* Living Sustainably box */
  .container1 {
      position: relative;
      color: white;
      margin: 5% 0;
      padding: 0;
      width:100%;
      box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    }

    /* Bottom left text */
    .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
    }

    /* Top left text */
    .top-left {
      position: absolute;
      top: 165px;
      left: 16px;
      color: #333333; font-family: 'Courier New', serif; font-size: 35px; font-weight: bold; line-height: 54px; margin: 0 0 54px;
      color: white;
    }

    /* Top right text */
    .top-right p {
      position: absolute;
      top: 4px;
      right: 16px;
      align-items: right;
      width: 500px;
      color:#f2f5f7;
      font-family:'Helvetica Neue', sans-serif;
      font-size: 18px;
      line-height: 28px;
      margin: 0 0 28px;
      bottom: 8px;
    }

    /* Bottom right text */
    .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
    }

    /* Centered text */
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }