body, html {
  height: 100%;
  margin: 0;
}
.bodyBgColor{
  color:black;
}
.heading {
font-size: 100px;
color:white;
}
.desc{
  margin:2% 3% 5%!important;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}
.App{
  background: #000000 url(
   https://free4kwallpapers.com/uploads/wallpaper/fences-gray-green-leaves-plants-stripes-wood-1280x720-wallpaper.jpg
   ) no-repeat left top;
 background-size: cover; 
 background-attachment: fixed;
  font-size: 20px;
  padding: 2.5% 2.5% 10%;
  height:800px; 
  margin: 0;
}
.container{
  padding: 0;
  margin: 0;
  
}
div .ui .submit{
  height:50px ;
  font-size: 25px;
  margin: 1.5% !important;
  width:10% !important;
  padding: 0;
 
}

.search{
  background-color:hsla(0, 3%, 77%, 0.5) !important;
  height: 50px;
  color: #0e0000fb !important;
  font-size: 30px !important;
  border: 2px solid #fffbfb5d !important;
  border-radius: 81px !important;
 width:70% !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(53, 53, 53, 0.849) !important;
  opacity: 1; /* Firefox */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div .ui {
width: 100% !important;
display: fixed;

}

.link{
  text-decoration: underline;
  color: rgb(8, 8, 8) !important;
}
.effects{
  border-radius: 50px;
background: #e0e0e02c;
box-shadow:  10px 10px 40px #55cf3cfb,
             -20px -20px 60px #ffffff;
color: black !important;

} 
div .description
{
color: black !important;
padding: 2%;
margin: 1% !important;
}
.image{
  height: 200px;
  width: 30% !important;
}
.App{
  height: 100%;
  padding:0;
}